<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>crear_ciudadano</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="col-6">
        <form th:action="@{/ciudadano/nuevo}" method="post" th:object="${ciudadano}">

            <div class="mb-3">
                <label for="id_ciudadano" class="form-label">ID</label>
                <input th:field="*{Id}" type="number" class="form-control" id="id_ciudadano" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label  for="genero" class="form-label">Género</label>
                <input th:field="*{Renero}" type="text" class="form-control" id="genero" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label  for="nombre" class="form-label">Nombre</label>
                <input th:field="*{Nombre}" type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label  for="apellido" class="form-label">Apellido</label>
                <input th:field="*{Apellido}" type="text" class="form-control" id="apellido" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label  for="raza" class="form-label">Raza</label>
                <input th:field="*{Raza}" type="text" class="form-control" id="raza" aria-describedby="emailHelp">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>